<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
  <a class="navbar-brand">Hello, {{ auth.user.username }}</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a href="{{ path_for('home') }}">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cars
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ path_for('rent.addcar') }}">Add a car</a></li>
          <li><a class="dropdown-item" href="{{ path_for('rent.getfreecars') }}">List free cars</a></li>
          <li><a class="dropdown-item" href="{{ path_for('rent.remove-car') }}">Remove a car</a></li>          
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Renting
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ path_for('rent.addrent') }}">Add a rent </a></li>
          <li><a class="dropdown-item" href="{{ path_for('rent.editrents') }}">Edit a rent </a></li>
          <li><a class="dropdown-item" href="{{ path_for('rent.get-history') }}">Rent history </a></li>
        </ul>
      </li>

    
    </ul>
       <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ path_for('auth.signout')}}"><span class="glyphicon glyphicon-road"></span> Sign Out</a></li>
    </ul>
  </div>
</nav>
