<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
  <a class="navbar-brand">Hello, {{ auth.user.username }}</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a href="{{ path_for('home') }}">Home</a></li>
      <li><a href="{{ path_for('rent.getfreecars')}}"><span></span>List free cars</a></li>
      <li><a href="{{ path_for('rent.getownrents')}}"><span></span>Get rent history</a></li>

      
    
    </ul>
       <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ path_for('auth.signout')}}"><span class="glyphicon glyphicon-road"></span> Sign Out</a></li>
    </ul>
  </div>
</nav>
